* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
html {
  height: 100vh;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
  margin: 50px;
  justify-content: center;
  margin-bottom: 50px;
}

.game-info {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.title {
  font-size: 5rem;
  font-weight: 500;
  font-style: italic;
  color: #143642;
  text-align: center;
}
.info {
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;
  color: #143642;
}

.card {
  position: relative;
  height: 175px;
  width: 125px;
}
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.card-back-img {
  height: 100%;
  width: 100%;
}
