/* reset of all items */
* {
  padding: o;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(#edc4b3, #c38e70);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}
.game-container {
  display: flex;
}
.card-container {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  margin: 5px;
  width: calc(33.33% - 10px);
  height: calc(50% - 10px);
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.5s;
}
.card.is-flipped {
  transform: rotateY(180deg);
}
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 15px;
  position: absolute;
  backface-visibility: hidden;
  
}
.front-face {
  transform: rotateY(180deg);
}



